* {
  box-sizing: border-box;
}
body {
  font-family: -apple-system, BlinkMacSystemFont,
  "Segoe UI", "Roboto", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans",
  "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
}
a {
  text-decoration: none;
  color: inherit;
}
.wide-container {
  width: 100%;
  margin: 0 auto;
  .content-container {
    width: 100%;
    max-width: 1200px;
    padding: 0 25px;
    margin: auto;
  }
}
.highlight-hero {
  margin-bottom: 40px;
  background: linear-gradient(#ececec, #fff);

  .content-container {
    display: flex;
    flex-flow: row wrap;
    padding: 0;
    max-width: 1600px;
    .slider {
      height: 40vh;
      width: 100%;
      .slick-list, .slick-track {
        height: 100%;
        overflow: hidden;
      }
      .slide {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        float: left;
        height: 100%;
        outline: 0;
      }
    }
    .highlighted-product-info {
      position: relative;
      padding-left: 25px;
      padding-right: 25px;
      width: 100%;
      padding-top: 50px;
      text-align:center;
      .banner {
        position: absolute;
        top: 0;
        left: 0;
        height: 26px;
        line-height: 22px;
        background-color: #000;
        color: #fff;
        text-transform: uppercase;
        padding: 2px 10px;
      }
      .in-store {
        position: absolute;
        top: 0;
        right: 0;
        padding: 15px;
        img {
          width: 18px;
          vertical-align: middle;
        }
        span {
          vertical-align: middle;
          font-size: 12px;
        }
      }
      P {
        font-size: 20px;
        max-width: 300px;
        margin: 20px auto;
      }
      .price {
        font-weight: bold;
      }
      .size {
        margin-bottom: 20px;
        span {
          font-size: 14px;
          margin-bottom: 10px;
          display: block;
        }
        .size-box {
          display: inline-block;
          border: solid #1d1d1b 1px;
          cursor: pointer;
          transition: .2s;
          &.selected {
            background-color: #1d1d1b;
            color: white;
          }
          &:hover {
            background-color: #1d1d1b;
            color: white;
            opacity: .8;
          }
          span {
            height: 30px;
            line-height: 30px;
            padding: 0 10px;
            margin: 0 auto;
            user-select: none;
          }
        }
      }
      .add-to-cart {
        color: white;
        background-color: #141527;
        width: 200px;
        margin: 0 auto 25px;
        cursor: pointer;
        border: solid 1px #141527;
        transition: .2s;
        &:hover {
          background-color: transparent;
          color: #141527;

        }
        span {
          line-height: 40px;
          height: 40px;

        }
      }
      .article-nr {
        color: #7d7d7d;
        display: inline-block;
        font-size: 12px;
        margin: 0 auto;
        .number {
          color: black;
          display: inline;
        }
      }
    }
  }
  @media screen and (min-width: $beta) {
    .content-container {
      .slider {
        width: 60%;
        height: 80vh;
      }
      .highlighted-product-info {
        width: 40%;
      }
    }
  }
}
.product-grid {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  margin-bottom: 40px;
  .product {
    width:100%;
    text-align: center;
    border: 10px solid white;
    position: relative;
    .banner {
      position: absolute;
      top: 0;
      left: 0;
      height: 26px;
      line-height: 22px;
      background-color: #000;
      color: lightgray;
      text-transform: uppercase;
      padding: 2px 10px;
      &.sale {
        background-color: #2c2f3e;
      }
    }
    .product-desc {
      text-align: center;

      .title {
        font-weight: bolder;
        width: 100%;
        display: block;
        margin-bottom: 10px;
        margin-top: 5px;
      }
      .description {
        color: gray;
        display: block;
        margin-bottom: 15px;
        font-size: 14px;
        line-height: 1.5;
      }
      .price {
        display: block;
        font-weight: bolder;
        margin-bottom: 5px;
        .strike {
          color: #9c9c9c;
          text-decoration: line-through;
        }
        .reduced {
          color: red;
        }
      }
    }
    img {
      width:100%;
      height:auto;
      margin-bottom: 5px;
    }

  }
  @media screen and (min-width: $alpha) {
    .product {
      width: 50%;
    }
  }
  @media screen and (min-width: $charlie) {
    .product {
      width: 25%;
      .product-desc {
        margin: auto;
        max-width: 75%;
      }
    }
  }
}
.product-links {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding: 10px 10px;
  .left, .right {
    align-self: center;
  }
  .right-arrow {
    vertical-align: middle;
    img {
      width: 14px;
      height: auto;
      margin-left: 10px;

    }
  }
  div {
    cursor: pointer;
    padding-bottom: 10px;
    font-weight: bold;
    margin: auto;
    text-align: center;
  }
  @media screen and (min-width: $beta) {
    div {
      margin: 0;
    }
    .left {
      align-self: flex-start;
    }
    .right {
      align-self: flex-end;
    }
  }
}
.float-left {
  float: left;
}
.float-right {
  float: right;
}
.topside-bar {
  display: none;
  background-color: #000;
  color: lightgray;
  .content-container {
    padding-bottom: 10px;
    padding-top: 10px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    font-size: 14px;
    .left {
      align-self: left;
      span {
        padding-right: 10px;
      }
    }
    .right {
      align-self: right;
      span {
        padding-left: 10px;
        &:hover {
          text-decoration: underline;
          cursor: pointer;
          user-select: none;
        }
      }
    }
  }
  @media screen and (min-width: $charlie) {
    display: block;
  }
}
.commercial {
  background-color: #000;
  color: gray;
  padding-bottom: 10px;
  padding-top: 10px;
  text-align: center;

  @media screen and (min-width: $charlie) {
    display: none;
  }
}
.primary-menu-bar {
  box-shadow: 0px 2px 5px #888888;
  z-index: 10;
  position: relative;
  .desktop-menu {
    display: none;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 20px;
    nav {
      flex: 1 0px;
      display: flex;
      flex-flow: column wrap;
      justify-content:center;
      align-items: center;
      ul {
        width: 100%;
        li {
          display: inline-block;
          padding-right: 10px;
          cursor: pointer;
          &:hover {
            text-decoration: underline;
          }

        }
      }
    }
    .logo {
      flex: 0 1 auto;
      align-self: center;
      cursor: pointer;
    }
    .utils {
      flex: 1 0px;
      display: flex;
      flex-flow: column wrap;
      justify-content:center;
      align-items: center;
      nav {
        ul {
          width: 100%;
          li {
            display: inline-block;
            padding-left: 10px;
            cursor: pointer;
            &.basket {
              img {
                width: 40px;
                height: 20px;
                vertical-align: middle;
              }
            }
          }
        }
      }
    }
  }
  .mobile-menu {

    padding: 20px 0;
    overflow: auto;
    width: 100%;
    .mobile-logo {
      float: left;
    }

    .icons {
      float: right;
      height: 40px;
      padding-top:5px;
      .search, .cart {
        display: inline-block;
        width: 30px;
        height: 30px;
        margin-left: 10px;
        cursor: pointer;
        img {
          width:100%;
          height: auto;
        }
      }
    }
    .mobile-button {
      float: right;
      width: 40px;
      height: 40px;
      text-align: center;
      display: flex;
      flex-flow: column wrap;
      justify-content: center;
      cursor: pointer;
      margin-left: 10px;
      img {
        width: 100%;
        height: auto;
      }
    }
    .mobile-list {
      width: 100%;
      float: right;
      display: none;
      transition: .5s;
      transition-timing-function: ease-in-out;
      &.show {
        display: block;
      }
      ul {
        width: 100%;
        li {
          width: 100%;
          text-align: center;
          padding: 10px;
          cursor: pointer;
          &:hover {
            background-color: gray;
          }
        }
      }

    }
  }
  @media screen and (min-width: $charlie) {
    .desktop-menu {
      display: flex;
    }
    .mobile-menu {
      display: none;
    }
  }
}
.newsletter {
  margin-bottom: 30px;
  .content-container {
    background-image: url("/img/newsletter_bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position: relative;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    align-items: center;
      &:before {
        content: '\A';
        position: absolute;
        width: 100%; height:100%;
        top:0; left:0;
        background:rgba(0,0,0,.3);
        opacity: 1;
        transition: all 1s;
        -webkit-transition: all 1s;
        z-index: 1;
    }
    .text {
      min-width: 300px;
      color: white;
      padding: 50px 0 25px;
      z-index: 2;
      text-align: center;
      h2 {
        font-size: 28px;
        margin-bottom: 10px;
      }
      p {
        line-height: 1.5;
        max-width: 450px;
      }
    }
    .mail {
      min-width: 300px;
      padding: 25px 0 50px;
      z-index: 2;
      .newsletter-form {
        position: relative;
        width: 100%;
        .newsletter-input {
          width: 100%;
          padding: 10px;
          outline: 0;
          padding-right: 100px;
        }
        .newsletter-submit {
          height: 100%;
          border: none;
          color: #fff;
          background-color: #141527;
          position: absolute;
          top: 0;
          right: 0;
          cursor: pointer;
          padding: 0 20px;
          animation: fane-in-out .45s ease, fade-in-out .45s linear;
          transform-origin: right center;
          &:focus {
            outline: 0;
          }
          &:hover {
            opacity: .9;
          }
        }
      }
    }
    .newsletter-form:not( .newsletter-form--active ) input[type='submit'] {
      display: none;
    }
  }


  @media screen and (min-width: $charlie) {
    .content-container {
      border-left: solid white 25px;
      border-right: solid white 25px;
      flex-flow: row wrap;
      .mail, .text{
        width: 50%;
        padding-top: 100px;
        padding-bottom: 100px;
        padding-right: 50px;
        padding-left: 50px;
      }

    }
  }
}
.social {
  background-color: #f1f1f1;
  .content-container {
    padding-top: 25px;
    padding-bottom: 25px;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: space-around;
    .social-item {
      background-color: transparent;
      border: solid black 2px;
      width: 100%;
      margin: 10px auto;
      padding: 10px;
      text-align:center;
      &:hover {
        background-color: black;
        color: #f1f1f1;
        cursor: pointer;
      }
    }
    @media screen and (min-width: $beta) {
      flex-flow: row wrap;
      justify-content: space-between;
      .social-item {
        width: 30%;
        margin: 10px 0;
      }
    }
  }
}

footer {
  padding-top: 40px;
  background-color: black;
  color: white;
  .content-container {
    padding-top: 25px;
    padding-bottom: 25px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    hr {
      padding: 0 25px;
      background-color: #444;
      height: 1px;
      width: 100%;
      opacity: .5;
      margin-top: 50px;
    }
    .seo-text {
      margin: 40px auto 0px;
      max-width: 800px;
      font-size: 12px;
      color: #919191;
      line-height: 1.5;
      text-align: center;
      .bold {
        font-weight: bold;
        color: #999999;
      }
    }
    .copyright {
      font-size: 12px;
      color: #919191;
      line-height: 1.5;
      text-align: center;
    }
    .footer-section {
      width: 100%;
      a {
        &:hover {
          text-decoration: underline;
        }
      }
      h3 {
        font-weight: bold;
        margin-bottom: 20px;
      }
      ul {
        margin-bottom: 20px;
        li {
          line-height: 2;
          &.bold {
            font-weight: bold;
          }
        }
      }
    }
  }
  @media screen and (min-width: $alpha) {
    .content-container {
      .footer-section {
        width: 50%;
        &.big {
          width: 100%;
        }
        .contact-section {
          display: flex;
          flex-flow: row wrap;
          .contact-section-right, .contact-section-left {
            width: 50%;
          }
        }
      }
    }
  }
  @media screen and (min-width: $beta) {
    padding-top: 80px;
    .content-container {
      .footer-section {
        width: 25%;
        &.big {
          width: 50%;
        }
        .contact-section {
          .contact-section-right, .contact-section-left {
            width: 50%;
          }
        }
      }
    }
  }
}
.accordion {
  border-bottom: solid 2px lightgray;
  padding-top: 20px;
  text-align: left;
  .part {
    &.active {
      .tab {
        color: black;
        &:after {
          transform: rotate(180deg);
          opacity: 1;
        }
      }
      .content {
        display: block;
      }
    }
    .tab {
      width: 100%;
      height: 40px;
      border-top: solid 2px lightgray;
      padding-top: 10px;
      color: lightgray;
      cursor: pointer;
      user-select: none;
      transition: .3s;
      span {
        vertical-align: middle;
      }
      &:after {
        content: " ";
        display: block;
        vertical-align: middle;
        float: right;
        height: 22px;
        width: 15px;
        background-image: url('/img/arrow-down.svg');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center center;
        transition: .3s;
        opacity: .2;
      }
      &:hover {
        color: black;
        &:after {
          opacity: 1;
        }
      }
    }
    .content {
      display: none;
      padding: 15px 0 40px;
      font-weight: bold;
      font-size: 14px;

    }
  }
}
